# Ingesting NY Taxi Data to Postgres

**This is a step-by-step commented notebook.**

In [27]:
# Check if pandas is installed correctly
import pandas as pd

print(pd.__version__)

2.2.3

## Sample dataset for initial exploring

In [28]:
# create a sample for initial dataset exploration
# !head -n 100 ./files/yellow_tripdata_2021-01.csv > ./files/yellow_sample.csv
file_path = "files/yellow_sample.csv"
df = pd.read_csv(file_path)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2,2021-01-01 00:23:24,2021-01-01 00:34:29,2,1.91,1,N,140,142,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0

In [29]:
# Convert text columns to datetime
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
# Checking the DDL to be used in postgres
schema = pd.io.sql.get_schema(df, name="yellow_taxi_data")
print(schema)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

## Batch load to postgres

In [31]:
# Load the real file to df
df = pd.read_csv("files/yellow_tripdata_2021-01.csv", engine="python")
# Convert text columns to datetime
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
total_rows = len(df)
total_rows

1369765

In [32]:
# Sqlalchemy will provide the connection to the postgres database
from sqlalchemy import create_engine

# create_engine(dialect+driver://username:password@host:port/database)
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [33]:
# Testing Connection
try:
    engine.connect()
    print("Connected")
except Exception as e:
    print(f"Connection Failed - {e}")
engine.dispose()

Connected

In [34]:
# Prepare the column names to be used as the table schema
schema = df.head(n=0)
schema

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [35]:
# Open connection with the DB
with engine.connect() as conn:
    # Creates the table. If it already exists, replace.
    schema.to_sql(if_exists="replace", name="yellow_taxi_data", con=conn, index=False)

In [36]:
# Creates an Iterator to consume the data in chunks
chunk_size = 10000
chunks = pd.read_csv(
    "files/yellow_tripdata_2021-01.csv",
    iterator=True,
    chunksize=chunk_size,
)

In [37]:
from math import ceil
from time import time

# from tqdm import tqdm
from tqdm.notebook import tqdm  # this module has a more "visual appealing" on notebooks

# Total chunks
total_chunks = ceil(total_rows / chunk_size)

# Open connection with the DB
with engine.connect() as conn:
    t_ini = time()
    inserted_rows = 0
    for chunk in tqdm(chunks, desc="Inserting data", unit="chunk", total=total_chunks):
        t_start = time()
        
        # Adjust dtypes - text to datetime
        chunk.tpep_pickup_datetime = pd.to_datetime(chunk.tpep_pickup_datetime)
        chunk.tpep_dropoff_datetime = pd.to_datetime(chunk.tpep_dropoff_datetime)

        # Insert chunk
        chunk.to_sql(if_exists="append", name="yellow_taxi_data", con=conn, index=False)
        inserted_rows += len(chunk)
        t_end = time()
        # Uncomment below: if you want to see each chunk being printed during insertions.
        # print(f"Inserted {chunk_size} rows after {round(t_end - t_start, 1)} seconds.")
    t_fin = time()
print(f"Job Completed - Inserted {inserted_rows} after {round(t_fin - t_ini, 1)} seconds")

Inserting data:   0%|          | 0/137 [00:00<?, ?chunk/s]

Job Completed - Inserted 1369765 after 199.7 seconds